<div id="app">
    <h1>Dictionary</h1>
    <input type="text" />
    <button>Search</button>
    <dl>
      <dt>
        <p>{{syllables}}</p>
        <p>{{pronunciation}}</p>
      </dt>
      <dd>
        <p>noun</p>
        <ol>
          <li>
            <p>{{definition}}</p>
            <p>
              <q>{{sentence}}</q>
            </p>
            <dl>
              <dt>synonyms</dt>
              <dd>{{synonym}}</dd>
            </dl>
          </li>
        </ol>
      </dd>
      <dd>
        <p>verb</p>
        <ol>
          <li>
            <p>{{definition}}</p>
            <p>
              <q>{{sentence}}</q>
            </p>
            <dl>
              <dt>synonyms</dt>
              <dd>{{synonym}}</dd>
            </dl>
          </li>
        </ol>
      </dd>
    </dl>
  </div>